body {
    background-color: #2b303a;
    color: #eee5e9;
}

.description {
    background-color: #7c7c7c;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: larger;
}

.choose-file{
    background-color: #92dce5;
    color: #2B303A;
    padding: 15px 32px;
}

#uploaded-image{
    max-width: 100%; 
    height: auto; 
    border: 1px solid #ddd; 
    padding: 10px;
}