<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tumor Detector</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <h1>Tumor detector</h1>
        <div class="description">
            <p class="default">Please choose a mp4 image of an mri scan to predict a possible tumor</p>
            <p class="default">Currently it has been trained to detect three tumors: glioma, meningioma, and pituitary</p>
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="choose-file" required>
                <button type="submit" value="Submit">Upload</button>
            </form> 
        </div>
        <div class="images">
            {% if filename %}
                <h2>Uploaded Image</h2>
                <img id="uploaded-image" src="{{url_for('display_image', filename=filename)}}" alt="Uploaded Image">
            {% endif %}
            {% if predicted %}
                <img id="predicted-image" src="{{predicted}}" alt="Predicted Image">
            {% endif %}
        </div>

    </body>