<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css">
        <title>Tumor Detector</title>
    </head>
    <body>
        <main class="container">
            <h1>Tumor detector</h1>
        </main>
        <main class="container">
            <p>Please choose a mp4 image of an mri scan to predict a possible tumor</p>
            <p>Currently it has been trained to detect three tumors: glioma, meningioma, and pituitary</p>
        <hr />
            <form action="/" method="post" enctype="multipart/form-data">
                <input type="file" name="file" class="choose-file" required>
                <button type="submit" value="Submit">Predict</button>
            </form> 
        </main>
        <main class="container">
            {% if predicted %}
                <article>
                    <h2>Predicted Image</h2>
                    <img src="{{ url_for('static', filename=predicted) }}" alt="Prediction Result" style="max-width: 400px">
                </article>
            {% endif %}
        </main>
    </body>